.cover {
    max-width: 1184px;
    min-width: 320px;
    width: 100%;
    padding-top: 92px;
}

@media screen and (max-width: 425px) {
    .cover {
        padding-top: 66px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover {
        padding-top: 90px;
    }
}