.place__link {
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .place__link {
        padding: 0 16px;
        width: calc(100% - 32px);
    }
}