.footer {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    width: 100%;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 570px) {
    .footer {
        flex-direction: column;
        row-gap: 48px;
        padding: 64px 0 24px 16px;
        width: calc(100% - 16px);
    }
}

@media screen and (min-width: 571px) and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px 24px;
        width: calc(100% - 48px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        padding: 92px 48px 24px 48px;
        width: calc(100% - 96px);
    }
}